/* normalize */
*, *::before, *::after {margin: 0; padding: 0; box-sizing: inherit;}

body {
    background-color: #f4f5f6;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#displayBox {
    background-color: #f4f5f630;
    padding: 25px;
    border-radius: 14px;
}

header > h1 {
    font-size: 4rem;
    filter: drop-shadow(0 0 1.1rem #0000008c);
    font-family: monospace;
}

button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 8px;
    border-radius: 12px;
    border: 3px solid #3333332b;
    font-family: monospace;
}
